.header{
    position: fixed;

    &_nav{
        width: 37px;
        height: 22px;
        
      
        &-img{
            padding: 10px;
            background-color: $azulinter;
        
        

         
        }
                    
    }


       
    
}