.section {
    background-image: url(/images/Copia\ de\ cover.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    text-align: center;
    color: $blanco;
    font-family: Roboto Slab;
   
    &-title{
        font-size: 42px;

        @media screen and (width > 767px) {
            font-size: 80px;
            
        }

        @media screen and (width > 1200px) {
              font-size: 100px;
                                         
        }
    }

    &-paragraph{
        font-size: 16px;

        @media screen and (width > 767px) {
            font-size: 24px;
        }
    }


    &-img {
        border-radius: 50%;
        width: 40px;
        height: 37px;
        padding: 10px;
        background-color: $blanco;
        margin-top: 20px;

    }

}

.sectionlook {
    font-family: $font-main;
    padding: 45px 15px 30px;

    @media screen and (width > 767px) {
        padding: 37px;
                   
    }

    @media screen and (width > 1200px) {
        padding: 60px 275px;
      
                   
    }

    &-h2{

        @media screen and (width > 767px) {
            font-size: 26px;
                       
        }

        @media screen and (width > 1200px) {
            font-size: 32px;
                       
        }

    }


    &-title {
        color: $azulcla;
        @media screen and (width > 1200px) {
            font-size: 16px;
                       
        }
    }

    &-paragraph {
        color: $parrafo;
        padding-top: 15px;
        padding-right: 15px;
        font-size: 18px;
        line-height: 1.5;

        @media screen and (width > 767px) {
            font-size: 20px;
                       
        }

    }

    &-button {
        text-decoration: none;
        display: block;
        border-radius:  22.5px;
        width: 76px;
        height: 45px;
        margin-top: 26px;
        text-align: center;
        padding: 10px;
        border: 2px solid $naranja;
        color: $naranja;
        font-size: 20px;
        font-weight: 500;
        transition-property: background-color, width;
        transition-duration: 2s;



 
        @media screen and (width > 767px) {
            width: 91px;
            height: 45px;
                       
        }

        @media screen and (width > 1200px) {
            width: 160px;
            height: 45px;
                       
        }

    }

    &-button:hover {


        background-color: $naranja;
        color: $blanco;
        width: 120px;

        @media screen and (width > 767px) {
            width: 170px;
          
                       
        }

        @media screen and (width > 1200px) {
            width: 220px;
           
                       
        }

        

    }
}

.reason{
    font-family: $font-main;
    background-color: $back;
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;justify-items: center;

    @media screen and (width > 767px){
        height: 50vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align:justify;
    
  
        
    }
    &-title{
        font-size: 24px;
        text-align: center;
        padding-top: 30px;
        @media screen and (width > 767px) {
            grid-column: 1/4 ;
            font-size: 24px;
            
        }
    }
    &_article{
        padding: 40px 70px;
        text-align: center;
        line-height: 1.5;
        font-size: 18px;
        @media screen and (width > 767px) {
            padding: 0;
            padding-top: 38px;
        
            
        }

    }

    &-container{
        @media screen and (width > 767px) {
            grid-column: 2/3;
        
            
        }

    }

    &-button{
        text-decoration: none;
        display: block;
        border-radius:  22.5px;
        width: 180px;
        height: 45px;
        margin-top: 41px;
        margin-bottom: 60px;
        text-align: center;
        padding: 10px;
        background-color: $naranja;
        color: $blanco;        font-size: 20px;
        font-weight: 500;
        transition-property: background-color, width;
        transition-duration: 2s;
           

    }

    &-button:hover{
        border: 2px solid $naranja;
        color: $naranja;
        background-color: $blanco;
        text-align: center;
        width: 230px;

        @media screen and (width > 767px) {
            width: 280px;
        
            
        }
        

    }

    &_box{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        
                   
                           
        &-img{
            width: 40px;
            height: 45px; 
            border-radius: 50%;
            background-color: $blanco;
            padding:10px

        }
   
    }


}