<footer class="footer">

    <nav class="menu">
        <ul class="menu_ul">
            <li><a href="https://adalab.es/">ARTICLE</a></li>
            <li><a href="https://adalab.es/">BOOKS</a></li>
            <li><a href="https://adalab.es/">EVENTS</a></li>
            <li><a href="https://adalab.es/">REASONS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>

        <ul class="menu_ul">
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">MASTODON.SOCIAL</a></li>
        </ul>
        <span> ©2024</span>
        <span class="footer_we">
            we
            <span class="footer_heart">❤︎</span>
            components
        </span>

    </nav>


</footer>