<main>
    <section class="section" id="begining">

        <h1 class="section-title"> ANONYMOUS PROXY </h1>
        <p class="section-paragraph">In hac habitasse platea dictumst.</p>
        <a href="#reason"><img class="section-img" src="/images/Copia-de-ico-scroll-down (1).jpg" alt="flecha"></a>
    </section>

    <section class="sectionlook">
        <p class="sectionlook-title">Insomnia Tips</p>
        <h2>Looking Through A Window</h2>
        <article class="sectionlook_article">

            <p class="sectionlook-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo nisi
                illum molestiae error quasi
                dolorum quod dolor, </p>

        </article>
        <a class="sectionlook-button" href="">Go</a>
    </section>

    <section class="reason" id="reason">
        <h3 class="reason-title">3 Reasons To Purchase</h3>

        <article class="reason_article">
            <h4>Ut sed metus</h4>
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
        </article>
        <article class="reason_article">
            <h4>Curabitur ac erat</h4>
            <p>Alias beatae officiis fuga cupiditate non a cum odio modi omnis
                sapiente.
            </p>
        </article>
        <article class="reason_article">
            <h4>Morbi dictum</h4>
            <p>Aut quaerat sed, doloremque repellat ab iusto excepturi voluptatum
            expedita.</p>
            <a class="reason-button" href="">More reasons</a>

        </article>
        <section class="reason_box">
            <a href="#">
                <img class="reason_box-img" src="/images/Copia-de-ico-arrow-_1_.jpg" alt="">
            </a>
        </section>

    </section>


</main>